.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
  flex-wrap: wrap;
}

header {
  background-color: rgb(86, 43, 129);
  color: white;
  font-size: 28px;
}

input {
  flex-basis: 50%;
  position: relative;
  width: 300px;
  padding: 6px;
  margin-top: 15px;
}

textarea {
  margin-top: 15px;
  flex-basis: 75%;
}

label {
  font-size: 20px;
  flex-basis: 75%;
}

form p:nth-child(1) {
  font-size: 35px;
}

button {
  position: relative;
  left: 430px;
  padding: 5px 10px;
  width: 70px;
  border-radius: 15%;
  border-color: rgb(86, 43, 129);
  background-color: rgb(86, 43, 129);
  color: white;
}

.form-entry {
  flex-basis: wrap;
}

img {
  width: 300px;
  column-fill: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  img {
    width: 300px;
    column-fill: auto;
  }

  input {
    flex-basis: 50%;
    position: relative;
    width: 300px;
    padding: 6px;
    margin-top: 15px;
  }

  textarea {
    margin-top: 15px;
    flex-basis: 75%;
  }

  button {
    position: relative;
    left: 230px;
    padding: 5px 10px;
    width: 70px;
    border-radius: 15%;
    border-color: rgb(86, 43, 129);
    background-color: rgb(86, 43, 129);
    color: white;
  }
}
