.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-last {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.column-full,
.column-half {
  width: 100%;
  flex-wrap: wrap;
}

.column-full-last {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  flex-basis: 50%;
  position: relative;
  width: 100%;
  padding: 6px;
  margin-top: 15px;
}

textarea {
  margin-top: 15px;
  width: 100%;
}

label {
  font-size: 20px;
  flex-basis: 75%;
}

button {
  position: relative;
  flex-basis: end;
  padding: 5px 10px;
  width: 70px;
}

.form-entry {
  flex-basis: wrap;
}

img {
  width: 100%;
  column-fill: auto;
  margin-bottom: 20px;
}

.sub {
  text-align: end;
  justify-content: space-between;
}

.entry {
  margin-top: 28px;
  margin-left: 15px;
}

.titles {
  display: flex;
  position: relative;
}

.new {
  padding: 10px;
}

.top-r {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerdiv {
  display: flex;
  justify-content: space-between;
}

.delete {
  background-color: white;
  color: red;
  border-color: white;
  box-shadow: none;
  right: 100px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  img {
    width: 100%;
    column-fill: auto;
  }

  input {
    flex-basis: 50%;
    position: relative;
    width: 100%;
    padding: 6px;
    margin-top: 15px;
  }

  textarea {
    margin-top: 15px;
    flex-basis: 75%;
    width: 100%;
  }

  button {
    position: relative;
    padding: 5px 10px;
    width: 70px;
  }

  .sub {
    justify-content: space-between;
    text-align: end;
    align-items: flex-end;
  }

  .titles {
    display: flex;
    position: relative;
  }
}
