form p:nth-child(1) {
  font-size: 35px;
}

button {
  border-radius: 15%;
  border-color: rgb(86, 43, 129);
  background-color: rgb(86, 43, 129);
  color: white;
}

header {
  background-color: rgb(86, 43, 129);
  color: white;
  font-size: 28px;
}

.entry-name {
  font-size: 26px;
}

ul {
  list-style: none;
}

.view {
  display: flex;
}

a {
  color: white;
}

.titles {
  font-size: 35px;
}

.new {
  border-bottom: none;
  font-size: 15px;
  position: relative;
  border-radius: 10px;
  background-color: rgb(86, 43, 129);
}
