form p:nth-child(1) {
  font-size: 35px;
}

button {
  border-radius: 15%;
  border-color: rgb(86, 43, 129);
  background-color: rgb(86, 43, 129);
  color: white;
}

header {
  background-color: rgb(86, 43, 129);
  color: white;
  font-size: 28px;
}

.entry-name {
  font-size: 26px;
}

ul {
  list-style: none;
  padding: 0;
}

.view {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

.titles {
  font-size: 35px;
}

.new {
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(86, 43, 129);
}

i {
  color: rgb(86, 43, 129);
}

.dark {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  flex-wrap: wrap;
  background: rgb(0 0 0 / 50%);
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.bg {
  background-color: white;
}

.show {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: white;
  width: 500px;
  height: 300px;
  margin-left: 50%;
  margin-top: 20%;
}

.noshow {
  display: none;
}
